[Unit]
Description=Internet Connectivity Service

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
StandardOutput=append:/var/log/inetcon.log
StandardError=inherit
ExecStart=/bin/bash -c 'exec /usr/bin/python3 $HOME/Connectivity.py'
Restart=on-failure
User=root
WorkingDirectory=$HOME
RuntimeDirectoryMode=0755

[Install]

WantedBy=multi-user.target

